@import 'modern-normalize';

.App {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding: 20px;
  max-width: 600px;
  height: 100vh;
}

.Header {
  text-align: center;
  font-size: 32px;
}

.Footer {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 100%;
}

.Footer-contact {
  display: block;
  text-align: center;
  font-size: 10px;
  font-weight: 100;
}

.Footer-contact a {
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}

.Harris {
  display: none;
  position: absolute;
  width: 80%;
  max-width: 400px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: harrypotter 5s linear infinite;
}

.Harris--show {
  display: block;
}

@keyframes harrypotter {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
